/* .nav ul li {
    text-decoration: none;
    list-style: none;
    display: inline;
    padding-right: 2rem;
    color: #fff;

} */

.navigation {
    color: rgb(132, 0, 255);
}

.mainContent {
    /* Offline BG Defualt Color */
    background-color: #2a2a2a; 
    background-image: url('https://i.redd.it/q8dsu64ufiu01.png');
    height: 100vh;
    width: 100vw;
    position: relative;
    border-left: 1rem solid white;
    border-right: 1rem solid white;
}

.heading {
    color: white;
    position: absolute;
    top: 40%;
    left: 35%;
    display: block;
    font-size: 6rem;
    text-shadow: 5px 5px 10px black;
}

.sub-heading {
    display: block;
    font-size: 3rem;
}

.down-arrow {
    height: 10%;
    filter: invert(1);
    position: absolute;
    top: 80%;
    left: 45%;
    transform: rotate(180deg);
    animation: bounce ease 3s infinite;
    transition: 3s;
}

.about {
    height: 95vh;
    margin-top: 5rem;
    text-align: center;
}

#resume {
    height: 100vh;
}

#portfolio {
    height: 70vh;
}

#contact {
    height: 100vh;
}

.resume-bg {
    background-color: #2a2a2a;
    color: white;
}
.padding-inside-resume {
    padding: 10%;
}

.title-content {
    font-size: 3rem;
}

.logo-img {
    border-radius: 100%;
    margin-bottom: 2rem;
    height: 400px;
    widows: auto;
}

.icon-center {
    text-align: center;
}

.icon {
    font-size: 5rem;
    padding-left: 10rem; 
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.down-arrow-b {
    height: 10%;
    left: 45%;
    transform: rotate(180deg);
    animation: bounce ease 3s infinite;
    transition: 3s;
}
.portfolio-images img{
    text-align: center;
    padding: 1rem;
}

.contact-img {
    text-align: center;
    padding: 2rem;
}

.footer {
    background-color: #2a2a2a;
    color: #fff;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.col-md-4 ul li{
    text-decoration: none;
    list-style: none;
    color: white;
}

.my-img {
    height: 200px;
}

.port-imgs {
    height: 250px;
    width: 250px;
    transition: 1s ease;
}

.port-imgs:hover {
    opacity: .7;
}
/* Animation Keyframes */

@keyframes bounce {
   0% {
       transform: translateY(0);
       transform: rotate(180deg);
   }
   50% {
        transform: translateY(50px);
        transform: rotate(0);
   }
  100% {
        transform: translateY(0);
        transform: rotate(-180deg);
    }   

}